*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

body{
background:#f3e7d3;
color:#222;
line-height:1.6;
}

/* Header */

header{
position:fixed;
top:0;
left:0;
width:100%;
background:#fff;
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 8%;
box-shadow:0 2px 15px rgba(0,0,0,0.08);
z-index:999;
}

.logo h2{
font: size 25px;;
    font: weight 150px;
    color:#8b6b2f;
    letter-spacing:1.5px;
    text-shadow:0 2px 5px rgba(0,0,0,0.1)
}

nav{
display:flex;
gap:25px;
}

nav a{
text-decoration:none;
color:#333;
font-weight:600;
transition:.3s;
}

nav a:hover{
color:#0077b6;
}

/* Hero */

.hero{
height:100vh;
background:url("photo/labphoto.jpg") center/cover no-repeat;
}

.hero-overlay{
width:100%;
height:100%;
background:rgba(0,0,0,0.55);
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.hero-content{
max-width:850px;
color:white;
}

.hero-content h1{
font-size:58px;
margin-bottom:20px;
}

.hero-content p{
font-size:22px;
margin-bottom:30px;
}

.btn{
display:inline-block;
padding:15px 35px;
background:#c9a86a;
color:white;
text-decoration:none;
font-size:18px;
border-radius:50px;
font-weight:600;
transition:.3s;
}

.btn:hover{
background:#0096c7;
transform:translateY(-3px);
}

/* Highlights */

.highlights{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;
padding:80px 8%;
background:white;
}

.box{
background:#fff;
padding:30px;
text-align:center;
border-radius:15px;
box-shadow:0 5px 25px rgba(0,0,0,.08);
}

.box i{
font-size:40px;
color:#0077b6;
margin-bottom:15px;
}

/* About */

.about{
padding:90px 8%;
background:#eef7ff;
}

.about h2{
font-size:40px;
margin-bottom:20px;
color:#0077b6;
}

.about p{
font-size:18px;
}

/* Packages */

.packages{
padding:90px 8%;
}

.packages h2{
text-align:center;
font-size:42px;
margin-bottom:50px;
color:#0077b6;
}

.package-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:25px;
}

.card{
.card, .package{
background:#ffffff;
box-shadow:0 5px 15px rgba(0,0,0,0.08);
}
}

.card:hover{
transform:translateY(-10px);
}

.card h3{
font-size:24px;
margin-bottom:10px;
}

.card h4{
font-size:34px;
color:#00a86b;
margin-bottom:15px;
}

.premium{
background:linear-gradient(135deg,#0077b6,#00b4d8);
color:white;
}

.premium h4{
color:#fff;
}

/* Booking */

.booking{
padding:90px 8%;
background:white;
}

.booking h2{
text-align:center;
margin-bottom:40px;
font-size:42px;
color:#0077b6;
}

form{
max-width:700px;
margin:auto;
display:flex;
flex-direction:column;
gap:15px;
}

form input,
form select{
padding:16px;
border:1px solid #ddd;
border-radius:10px;
font-size:16px;
}

form button{
padding:18px;
border:none;
background:#25D366;
color:white;
font-size:18px;
font-weight:600;
border-radius:10px;
cursor:pointer;
}

form button:hover{
opacity:.9;
}

/* Map */

.map-section{
padding:90px 8%;
background:#eef7ff;
}

.map-section h2{
text-align:center;
font-size:40px;
margin-bottom:30px;
color:#0077b6;
}

.map-section iframe{
width:100%;
height:450px;
border:0;
border-radius:20px;
box-shadow:0 5px 20px rgba(0,0,0,.1);
}

/* Contact */

.contact{
padding:80px 8%;
text-align:center;
background:white;
}

.contact h2{
font-size:40px;
margin-bottom:20px;
color:#0077b6;
}

.contact p{
font-size:18px;
margin-bottom:10px;
}

/* Footer */

footer{
background:#0077b6;
color:white;
text-align:center;
padding:25px;
}

/* WhatsApp */

.whatsapp-btn{
position:fixed;
right:20px;
bottom:20px;
width:60px;
height:60px;
background:#25D366;
color:white;
display:flex;
justify-content:center;
align-items:center;
border-radius:50%;
font-size:28px;
text-decoration:none;
z-index:999;
box-shadow:0 5px 20px rgba(0,0,0,.25);
}

/* Call */

.call-btn{
position:fixed;
left:20px;
bottom:20px;
width:60px;
height:60px;
background:#0077b6;
color:white;
display:flex;
justify-content:center;
align-items:center;
border-radius:50%;
font-size:24px;
text-decoration:none;
z-index:999;
box-shadow:0 5px 20px rgba(0,0,0,.25);
}

/* Mobile */

@media(max-width:768px){

header{
flex-direction:column;
padding:15px;
}

nav{
margin-top:10px;
gap:15px;
flex-wrap:wrap;
justify-content:center;
}

.hero-content h1{
font-size:34px;
}

.hero-content p{
font-size:17px;
}

.highlights{
grid-template-columns:1fr 1fr;
}

.about h2,
.packages h2,
.booking h2,
.contact h2,
.map-section h2{
font-size:30px;
}

}
